[access "refs/*"]
	owner = group user/andytang1994 (andytang1994)
[access "refs/for/refs/*"]
	read = group user/andytang1994 (andytang1994)
	push = group user/andytang1994 (andytang1994)
	label-Code-Review = -2..+2 group user/andytang1994 (andytang1994)
	label-Verified = -1..+1 group user/andytang1994 (andytang1994)
	rebase = group user/andytang1994 (andytang1994)
	removeReviewer = group user/andytang1994 (andytang1994)
	submit = group user/andytang1994 (andytang1994)
[access "refs/heads/*"]
	read = group user/andytang1994 (andytang1994)
	create = group user/andytang1994 (andytang1994)
	push = +force group user/andytang1994 (andytang1994)
	pushMerge = group user/andytang1994 (andytang1994)
[access "refs/tags/*"]
	push = +force group user/andytang1994 (andytang1994)
	pushTag = group user/andytang1994 (andytang1994)
	pushSignedTag = group user/andytang1994 (andytang1994)
